{% form 'cart'
  , cart %}

  <h1>Cart</h1>


  {% if cart.empty? %}
    <p>Hey your cart is empty!</p>
  {% else %}
    {% for item in cart.items %}
      {% render 'cart-item'
        , item: item %}
    {% endfor %}


    <div class="cart-notes">
      <textarea name="note" placeholder="Add special instructions">
        {{ cart.note }}
      </textarea>
    </div>

    <div>
      <p>Discount:
        <strong>{{ cart.total_discounts | money }}</strong>
      </p>
      <p>Total :
        <strong>{{ cart.total_price | money }}</strong>
      </p>
    </div>

    <button type="submit" name="update">
      Update
    </button>

    <button type="submit" name="checkut">Checkout</button>
  {% endif %}

{% endform %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{{ 'cart.js' | asset_url | script_tag }}

{% schema %}
  {
    "name": "Cart",
    "presets": [
      {
        "name": "Cart"
      }
    ]
  }
{% endschema %}