<header>
  <h1>Coding with {{ shop.name }}</h1>


  <ul>
    <!-- Main menu -->
    {% for link in linklists.main-menu.links -%}
      <li>
        {{ link.title | link_to: link.url }}
      </li>
    {%- endfor %}
  </ul>
  {% if setting.show_search %}
    <form action="/search">
      <input type="search" name="q" />
      <button type="submit">Search</button>
    </form>
  {% endif %}
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_search",
        "label": "Show Search form?",
        "default": true
      }, {
        "type": "color",
        "id": "bg",
        "label": "Background color"
      }
    ]
  }
{% endschema %}